*{
    margin: 0;

}

body {
    margin: 30px 30px;
    background: #f1f1f1;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;

}

.main-header {

    top: 0;
    left:10px;
    right: 10px;
    width: 100%;
    position: sticky;
    height: 4rem;
    background-color: #9b8e97;
    display: flex;
    justify-content: space-between;




}

.headernav {
    display: flex;
    justify-content: space-between;
    font-family: 'Arvo', serif;
    align-items: center;
    height: 100%;
}


.headernav a {

    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 20.4px 1rem;
    padding-right: 3rem;

}

.image_container {

    height: 100%;
}

.logo {
    object-fit: contain;
    height: 100%;
    width: 100%;
}


.headernav a:hover {
    background-color: #c6cbcf;
    color: #4d4d4a;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row {

    display: flex;

    margin-top: 5rem;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    width: 100vw;
}
.leftcolumn {

    width: 50%;
    height: 100%;
    margin-right: 5rem;
    margin-left: 5rem;

}


.rightcolumn {

    width: 50%;
    height: 100%;
    margin-right: 5rem;
    margin-left: 5rem;

}


.card {
    border-radius: 10px;
    background-color: gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.card p {

    overflow: hidden;
    text-overflow: ellipsis;
    height: 80%;
}

.card h2 {
    text-align: center;
}


.profile_pic {

    display: block;
    border-radius: 10px;
    height: 250px;
    margin: 2rem;
    object-fit: contain;


}


.btn {
    display: block;
    text-decoration: none;
    color: #4d4d4a;
    font-weight: 700;
    font-size: 1.125;
    padding: 0.5em 1.25em;
    background: #c6cbcf;
    border-radius: 0.25em;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    opacity: 0.7;
    width: 50%;
    text-align: center;
    margin: 2rem;
}

.btn:hover,
.btn:focus {

    opacity: 1;
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}