
body {
    margin: 30px 50px;
    background: #f1f1f1;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;

}

.main-header {
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #9b8e97;
    display: flex;
    justify-content: space-between;
}

.headernav {
    display: flex;
    justify-content: space-between;
    font-family: 'Arvo', serif;
    align-items: center;
    height: 100%;
}


.headernav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: large;
    padding: 20.4px 1rem;
    padding-right: 3rem;
}

.logo {

    height: 100%;

    margin-left: 0;
}

.image_container {
    margin-left: 0;
}


.headernav a:hover {
    background-color: #c6cbcf;
    color: #4d4d4a;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    align-items: center;
    height: 50%;
    width: 100%;
}

.leftcolumn {
    width: 50%;
    height:100%;
    max-width: 30rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.rightcolumn {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
    max-width: 30rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

.card {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;

}

.card p {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80%;
}

.card h2 {
    text-align: center;
    margin-bottom: 4rem;
}


.profile_pic {
    display: block;
    border-radius: 10px;
    height: 500px;
}

.btn {
    display: block;
    text-decoration: none;
    color: #4d4d4a;
    font-weight: 700;
    padding: 0.5em 1.25em;
    background: #c6cbcf;
    border-radius: 0.25em;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
    opacity: 0.7;
    width: 50%;
    text-align: center;
    margin: 2rem;
}

.btn:hover,
.btn:focus {

    opacity: 1;
}

@media (max-width : 1023px) {
    .row {
        flex-direction: column;
        gap: 5rem;
    }
    .rightcolumn {
        justify-content: center;
        width: 100%;
    }
    .leftcolumn {
        width: 100%;
    }
    .image_container {
        display: none
    }
    .main-header {
        justify-content: center;
    }
    .profile_pic {
        height: 630px;
    }
}

@media screen and (max-width: 640px) {
    .headernav a {
        font-size: small;
        padding-right: 1rem;
    }
    .profile_pic {
        height: 370px;
    }
}